.btn{
 color: var(--theme);
 text-align: center;
 width: 100%;
 margin: 1.2rem 0rem;
 padding: 0.5rem !important;
 border: 2px solid var(--theme);
 border-radius: 0.5rem;
 background-color: var(--white);
 display: flex !important;
 justify-content: center;
 align-items: center;
 height: auto !important;
}

.btn:hover{
 background-color: var(--theme);
 color: #fff;
 transition: all 0.3s;
}
.btn-blue{
 background-color: var(--theme);
 color: #fff;
}
.btn-blue:hover{
 background-color: #fff !important;
 color: var(--theme) !important;
 transition: all 0.3s;
}





