.my-card{
   box-shadow: var(--shadow);
   margin: 2rem;
   border-radius: 0.5rem;
   min-width: 400px;
   flex: 1;
}
.ant-card-head-title {
 margin: 0rem !important;
 font-weight: 500;
}
.my-row{
 
 display: flex;

 align-items: center;
 justify-content: space-between;
  flex-wrap: wrap;
 gap: 16px;
}
.my-card p{
 margin: 0;
}