.signup-wrapper{
 width: 40%;
 max-width: 450px;
 height: auto;
 box-shadow: var(--shadow);
 border-radius: 1rem;
 padding: 1rem 1.5rem;
}
.title{
 font-weight: 500;
 font-size: 1.2rem;
 text-align: center;
 margin: 0;
}
.p-tag{
font-weight: 400;
font-size:1rem;
cursor: pointer;

}